{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": false,
    "node": true
  },
  "rules": {
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "object-curly-spacing": ["error", "never"],
    "max-len": ["error", {"code": 100}],
    "indent": ["error", 2],
    "require-jsdoc": 0,
    "no-undef": 0
  },
  "extends": ["eslint:recommended", "google"]
}
