// VARIABLES
$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-cell-width: 40px;
$cell-width: 120px;
$row-height: 24px;
$db-header-height: 64px;
$border-color: #c0c0c0;

// COLORS
$red: #f00;
$black1: #000;
$black2: #202124;
$black3: #111;

$white1: #fff;
$white2: #f8f9fa;
$white3: #e2e3e3;

$blue1: #1a73e8;
$blue2: #3c74ff;
$blue3: #4c90fe;
$green1: green;
$green2: #e6f4ea;
$grey1: #eee;
$grey2: #f1f3f4;
$grey3: #e6f4ea;
$grey4: #5f6368;
$grey5: #dadce0;
$grey6: #e3e3e3;
