.db {
  &__header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $db-header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white1;
    box-shadow: inset 0 1px 1px 1px rgba(60, 64, 67, 0.15);
    z-index: 1000;

    .title {
      color: $grey4;
      font-weight: 400;
    }
  }

  &__new {
    margin-top: $db-header-height;
    padding: 0 1.5rem 1.5rem;
    background: $grey2;
  }

  &__create {
    width: 170px;
    height: 130px;
    background: $white1;
    border-radius: 4px;
    border: 1px solid $grey5;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: $black1;
    text-align: center;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;

    & > img {
      max-width: 100%;
      height: 100px;
    }

    &:hover {
      cursor: pointer;
      color: $green1;
      border-color: $green1;
    }
  }

  &__view {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 62px;
  }

  &__table {
    padding: 20px 0;
  }

  &__list-header {
    display: flex;
    justify-content: space-between;
    color: $black2;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__list {
    @include clear-list;
    width: 1040px;
    margin-left: -20px;
  }

  &__record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px 13px 20px;
    margin-top: -1px;
    border-bottom: 1px solid $grey6;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    color: $black2;
    font-size: 14px;

    img {
      width: 32px;
      height: 24px;
      object-fit: contain;
      padding-right: 8px;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: $green2;
      border-radius: 50px;
      cursor: pointer;
      border-color: transparent;
    }

    & > p {
      display: flex;
      align-items: center;
    }
  }

  &__record-date {
    font-size: 14px;
    min-width: 105px;
    text-align: left;
    margin-right: -5px;
    letter-spacing: 0.2px;
  }

  &__empty-text {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
    user-select: none;
  }
}
