.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  .row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: $white2;
    border-top: none;
    user-select: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white2;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    height: 100%;
    user-select: none;
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid $white3;
    border-top: 0;
    border-left: 0;
    color: $black3;
    white-space: nowrap;
    outline: none;
    cursor: default;

    &.selected {
      border: none;
      outline: 2px solid $blue2;
      z-index: 2;
      box-shadow: 0 1px 15px 3px rgba(60, 64, 67, 0.15);

      &[contenteditable=''] {
        cursor: text;
      }
    }
  }

  .col-resize,
  .row-resize {
    position: absolute;
    opacity: 0;
    background-color: $blue3;
    z-index: 1;

    &:hover {
      opacity: 1;
    }
  }

  .col-resize {
    top: 0;
    bottom: 0;
    width: 4px;
    right: -2.5px;

    &:hover {
      cursor: col-resize;
    }
  }

  .row-resize {
    left: 0;
    right: 0;
    bottom: -2.5px;
    height: 4px;

    &:hover {
      cursor: row-resize;
    }
  }
}
